<div class="static_card_bottom panel-body">
                     	<div class="static_box">
                        	<div class="static_data"><div>죽음</div><div class="static_value"><%= @data_hash["support_죽음"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["support_죽음_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["support_죽음_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        
                        </div>
                        <div class="static_box">
                        	<div class="static_data"><div>환경요소로 죽음</div><div class="static_value"><%= @data_hash["support_환경 요소로 죽음"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["support_환경 요소로 죽음_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["support_환경 요소로 죽음_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        </div>
                        
                     </div>