<div class="static_card_bottom panel-body">
                     	<div class="static_box">
                        	<div class="static_data"><div>치유</div><div class="static_value"><%= @data_hash["offense_치유"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["offense_치유_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["offense_치유_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        
                        </div>
                        <div class="static_box">
                        	<div class="static_data"><div>자가치유</div><div class="static_value"><%= @data_hash["offense_자가 치유"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["offense_자가 치유_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["offense_자가 치유_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        </div>
                        <div class="static_box">
                        	
                        	<div class="static_data"><div>처치 시야지원</div><div class="static_value"><%= @data_hash["offense_처치 시야 지원"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["offense_처치 시야 지원_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["offense_처치 시야 지원_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        </div>
                        <div class="static_box">
                        	<div class="static_data"><div>순간이동기 파괴</div><div class="static_value"><%= @data_hash["offense_순간이동기 파괴"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["offense_순간이동기 파괴_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["offense_순간이동기 파괴_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        </div>
                        
                     </div>