<div class="static_card_bottom panel-body">
                     	<div class="static_box">
                        	<div class="static_data"><div>처치</div><div class="static_value"><%= @data_hash["defense_처치"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["defense_처치_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["defense_처치_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        
                        </div>
                        <div class="static_box">
                        	<div class="static_data"><div>결정타</div><div class="static_value"><%= @data_hash["defense_결정타"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["defense_결정타_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["defense_결정타_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        </div>
                        <div class="static_box">
                        	<div class="static_data"><div>단독처치</div><div class="static_value"><%= @data_hash["defense_단독 처치"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["defense_단독 처치_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["defense_단독 처치_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        </div>
                        <div class="static_box">
                        	<div class="static_data"><div>임무기여처치</div><div class="static_value"><%= @data_hash["defense_임무 기여 처치"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["defense_임무 기여 처치_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["defense_임무 기여 처치_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        </div>
                        <div class="static_box">
                        	<div class="static_data"><div>딜량</div><div class="static_value"><%= @data_hash["defense_준 피해"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["defense_준 피해_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["defense_준 피해_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        </div>
                        <div class="static_box">
                        	<div class="static_data"><div>동시처치</div><div class="static_value"><%= @data_hash["defense_동시 처치"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["defense_동시 처치_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["defense_동시 처치_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        </div>
                        <div class="static_box">
                        	<div class="static_data"><div>근접공격결정타</div><div class="static_value"><%= @data_hash["defense_근접 공격 결정타"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["defense_근접 공격 결정타_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["defense_근접 공격 결정타_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        </div>
                        <div class="static_box">
                        	<div class="static_data"><div>임무기여시간</div><div class="static_value"><%= @data_hash["defense_임무 기여 시간"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["defense_임무 기여 시간_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["defense_임무 기여 시간_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        </div>
                        <div class="static_box">
                        	<div class="static_data"><div>폭주시간</div><div class="static_value"><%= @data_hash["defense_폭주 시간"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["defense_폭주 시간_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["defense_폭주 시간_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        </div>
                        <div class="static_box">
                        	<div class="static_data"><div>환경요소로처치</div><div class="static_value"><%= @data_hash["defense_환경 요소로 처치"] %></div></div>
                            <div class="static_data"><div><img src="/images/global_icon.png"></div><div class="top_rank_s">#<%=@data_hash["defense_환경 요소로 처치_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["defense_환경 요소로 처치_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                        </div>
                        
                     </div>