            <div class="container"> 
             
             <div class="hero_detail_warp">
            	<div class="hero_card panel-white"> 
                	<div class="hero_card_top panel-hedding">
                          <div class="card_top_left">
                          <div class="card_top_hero">
                          		<div class="hero_icon"><img src="/images/hero_square/roadhog_square.png"></div>
                          		<h2 class="panel-title"><%=@hero_name%></h2>
                          </div>      
                          <div class="card_top_rank">
                          		<span class="card_top_title">랭킹</span>
                          		<div class="kor_rank">
                                	<img src="/images/kor_icon.png"><span class="top_rank_s">#1,293</span><span class="top_rank_xs">(Top 50%)</span>
                                </div>
                                <div class="global_rank">
                                	<img src="/images/global_icon.png"><span class="top_rank_s">#1,293</span><span class="top_rank_xs">(Top 50%)</span>
                                </div>
                           </div>     
                           <div class="card_top_winrate">
	                           <div class="card_top_title">승률</div>                                            
                           		<div class="progress win-rate">
										<div class="progress-bar progress-bar-win" role="progressbar" style='width:<%=@hero_sub_data["#{@hero_name}_승률"]%>%'>
											W<%=@hero_sub_data["#{@hero_name}_승리한 게임"].to_i%>
										</div>
                                        <div class="progress-bar progress-bar-lose" role="progressbar" style='width: <%= 100 - @hero_sub_data["#{@hero_name}_승률"].to_f%>%'>
                                        	L <%= @hero_sub_data["#{@hero_name}_치른 게임"].to_i - @hero_sub_data["#{@hero_name}_승리한 게임"].to_i %>
                                        </div>
                                </div> 
                                <div class="top_rank_s"><%=@hero_sub_data["#{@hero_name}_승률"]%>%</div>
                           </div>
                           <div class="card_top_playtime">
                           		<span class="card_top_title">플레이타임</span>
                                <span><%=@hero_main_data["플레이 시간"]%></span>
                           </div>
                           </div>
                           <div class="card_top_right">
                           <div  class="card_top_reward">
                           		<div><span class="gold">금메달</span><span><%=@hero_main_data["메달 - 금"]%></span></div>
                                <div><span class="silver">은메달</span><span><%=@hero_main_data["메달 - 은"]%></span></div>
                                <div><span class="bronze">동메달</span><span><%=@hero_main_data["메달 - 동"]%></span></div>
                                <div><span class="goodcard">칭찬카드</span><span><%=@hero_main_data["칭찬 카드"]%></span></div>
                           </div>
                           </div>         
                                
                    </div>
                    
                    <div class="hero_card_bottom panel-body">
                    	   <div class="panal-important">
                          
                               	 <div class="important-data"> 
	                                <dl class="data"><dt class="legion_icon top_rank_s">갈고리 명중률</dt><dd class="rank_dd">5,235</dd></dl> 
                                 	<dl class="rank"><dt class="legion_icon"><img src="/images/kor_icon.png"></dt><dd class="rank_dd top_rank_xs">#1,293<span class="top_rank_xxs">(Top 50%)</span></dd></dl> 
                                	<dl class="rank"><dt class="legion_icon"><img src="/images/global_icon.png"></dt><dd class="rank_dd top_rank_xs">#154,293<span class="top_rank_xxs">(Top 50%)</span></dd></dl>
                                 </div>
                                 <div class="important-data"> 
	                                <dl class="data"><dt class="legion_icon top_rank_s">평균 딜량</dt><dd class="rank_dd"><%=@hero_main_data["준 피해 - 평균"]%></dd></dl> 
                                 	<dl class="rank"><dt class="legion_icon"><img src="/images/kor_icon.png"></dt><dd class="rank_dd top_rank_xs">#1,293<span class="top_rank_xxs">(Top 50%)</span></dd></dl> 
                                	<dl class="rank"><dt class="legion_icon"><img src="/images/global_icon.png"></dt><dd class="rank_dd top_rank_xs">#154,293<span class="top_rank_xxs">(Top 50%)</span></dd></dl>			
                                 </div>
                                 <div class="important-data"> 
                                 	<dl class="data"><dt class="legion_icon top_rank_s">평균 임무기여처치</dt><dd class="rank_dd"><%= @hero_main_data["임무 기여 처치 - 평균"] %></dd></dl> 
                                 	<dl class="rank"><dt class="legion_icon"><img src="/images/kor_icon.png"></dt><dd class="rank_dd top_rank_xs">#1,293<span class="top_rank_xxs">(Top 50%)</span></dd></dl> 
                                	<dl class="rank"><dt class="legion_icon"><img src="/images/global_icon.png"></dt><dd class="rank_dd top_rank_xs">#154,293<span class="top_rank_xxs">(Top 50%)</span></dd></dl>
                                </div>
                                <div class="important-data">                                 
	                                <dl class="data"><dt class="legion_icon top_rank_s">KDA</dt><dd class="rank_dd"><%= @hero_sub_data["#{@hero_name}_KDA"] %></dd></dl> 
                                	<dl class="rank"><dt class="legion_icon"><img src="/images/kor_icon.png"></dt><dd class="rank_dd top_rank_xs">#1,293<span class="top_rank_xxs">(Top 50%)</span></dd></dl> 
                                	<dl class="rank"><dt class="legion_icon"><img src="/images/global_icon.png"></dt><dd class="rank_dd top_rank_xs">#154,293<span class="top_rank_xxs">(Top 50%)</span></dd></dl>
                                </div>
                                
                          </div>                      
                    		
                    
                         
                          <div class="trend_grh_warp">
                            <div class="trend-grh_header">
                            	<div class="legion_icon top_rank_s">트랜드 평균 그래프</div>
	                            <div class="rank_dd"> 
    	                        	 <div class="btn-group role_group" role="group" aria-label="...">
										  <button type="button" class="btn trend_btn active">갈고리 명중률</button>
										  <button type="button" class="btn trend_btn">평균 딜량</button>
										  <button type="button" class="btn trend_btn">평균 임무기여처치</button>
                    	          			<button type="button" class="btn trend_btn">KDA</button>
                            		</div> 
                            	</div>
                            </div>
                          	<div id="chart_1" class="trend_grh"style="height:120px;"></div>
                          </div>
                    </div>
                
                </div>
                
            <div class="static_detail_warp">
            <div class="static_card panel-white">
                   	<div class="static_card_top panel-hedding">
                         <h2>영웅 통계</h2>
                         
                         
                          <div>
                          랭크:<select name="drop-skill-1" id="drop-skill-1" style="width:60px;">
						      <option value='kor' data-image="/images/kor_drop_icon.png" data-imagecss="kor" data-title="kor"></option>
						      <option value='global' data-image="/images/global_icon.png" data-imagecss="global" data-title="global"></option>
      
						</select>
                        </div>
                       
                     </div>
                     
                     <div class="static_card_bottom_skill panel-body">
                     	<div class="static_box">
	                        <div class="static_title">기술 통계:<br>갈고리 사슬</div>
                            <div class="static_data_warp">
                        	<div class="detail_static_data">
                            	<div>갈고리 명중률</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 갈고리 명중률</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>갈고리 누적 시도</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>평균 끌고온적</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 끌고온적</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>누적 끌고온적</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            </div>
                        
                        </div>
                      </div>
                      
                      <div class="static_card_bottom_skill panel-body">
                     	<div class="static_box">
	                        <div class="static_title">기술 통계 : 돼재앙</div>
                            <div class="static_data_warp">
                        	<div class="detail_static_data">
                            	<div>평균 처치</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 처치</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>누적 처치</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            </div>
                                                    
                        </div>
                      </div>
                      
                       <div class="static_card_bottom_skill panel-body">
                     	<div class="static_box">
	                        <div class="static_title">처치</div>
                            <div class="static_data_warp">
                        	<div class="detail_static_data">
                            	<div>평균 처치</div>
                                <div class="static_value">["처치 - 평균"]</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 처치</div>
                                <div class="static_value">처치 - 한 게임 최고기록</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                             <div class="detail_static_data">
                            	<div>한목숨 최고 처치</div>
                                <div class="static_value">처치 - 한 목숨 최고기록</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>누적 처치</div>
                                <div class="static_value">처치</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>동시 처치</div>
                                <div class="static_value">동시 처치 - 최고기록</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>포탑파괴 처치</div>
                                <div class="static_value">감시 포탑으로 처치</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>순간이동기 파괴</div>
                                <div class="static_value">순간이동기 파괴</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            </div>
                                                    
                        </div>
                      </div>
                     
                      <div class="static_card_bottom_skill panel-body">
                     	<div class="static_box">
	                        <div class="static_title">동시처치</div>
                            <div class="static_data_warp">
                        	<div class="detail_static_data">
                            	<div>평균 동시처치</div>
                                <div class="static_value">동시 처치 / 치른 게임</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 동시처치</div>
                                <div class="static_value">동시 처치 - 최고기록</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                             <div class="detail_static_data">
                            	<div>누적 동시처치</div>
                                <div class="static_value">동시 처치</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>평균 단독처치</div>
                                <div class="static_value">단독 처치 - 평균</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 단독처치</div>
                                <div class="static_value">단독 처치 - 한 게임 최고기록</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>누적 단독처치</div>
                                <div class="static_value">단독 처치</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            
                            </div>
                                                    
                        </div>
                      </div>
                      
                       <div class="static_card_bottom_skill panel-body">
                     	<div class="static_box">
	                        <div class="static_title">딜량</div>
                            <div class="static_data_warp">
                        	<div class="detail_static_data">
                            	<div>평균 딜량</div>
                                <div class="static_value">준 피해 - 평균</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 딜량</div>
                                <div class="static_value">준 피해</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                             <div class="detail_static_data">
                            	<div>누적 딜량</div>
                                <div class="static_value">준 피해</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>한목숨 최고딜량</div>
                                <div class="static_value">준 피해 - 한 목숨 최고기록</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                           
                            
                            </div>
                                                    
                        </div>
                      </div>
                      
                       <div class="static_card_bottom_skill panel-body">
                     	<div class="static_box">
	                        <div class="static_title">결정타</div>
                            <div class="static_data_warp">
                        	<div class="detail_static_data">
                            	<div>평균 결정타</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 결정타</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                             <div class="detail_static_data">
                            	<div>누적 결정타</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>                                                     
                            
                            </div>
                                                    
                        </div>
                      </div>
                      
                      
                      <div class="static_card_bottom_skill panel-body">
                     	<div class="static_box">
	                        <div class="static_title">근접공격 결정타</div>
                            <div class="static_data_warp">
                        	<div class="detail_static_data">
                            	<div>평균 근접 결정타</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 근접 결정타</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                             <div class="detail_static_data">
                            	<div>누적 근접 결정타</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                                                        
                            </div>
                                                    
                        </div>
                      </div>
                      
                         <div class="static_card_bottom_skill panel-body">
                     	<div class="static_box">
	                        <div class="static_title">치명타</div>
                            <div class="static_data_warp">
                        	<div class="detail_static_data">
                            	<div>평균 치명타</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 치명타</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                             <div class="detail_static_data">
                            	<div>누적 치명타</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                                                        
                            </div>
                                                    
                        </div>
                      </div>
                      
                      <div class="static_card_bottom_skill panel-body">
                     	<div class="static_box">
	                        <div class="static_title">임무기여<br>시간</div>
                            <div class="static_data_warp">
                        	<div class="detail_static_data">
                            	<div>평균 임무기여시간</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 임무기여시간</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                             <div class="detail_static_data">
                            	<div>누적 임무기여시간</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                                                        
                            </div>
                                                    
                        </div>
                      </div>
                      
                      <div class="static_card_bottom_skill panel-body">
                     	<div class="static_box">
	                        <div class="static_title">임무기여<br>처치</div>
                            <div class="static_data_warp">
                        	<div class="detail_static_data">
                            	<div>평균 임무기여처치</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 임무기여처치</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                             <div class="detail_static_data">
                            	<div>누적 임무기여처치</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                                                        
                            </div>
                                                    
                        </div>
                      </div>
                      
                      <div class="static_card_bottom_skill panel-body">
                     	<div class="static_box">
	                        <div class="static_title">폭주시간</div>
                            <div class="static_data_warp">
                        	<div class="detail_static_data">
                            	<div>평균 폭주시간</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>1분당 폭주시간</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                             <div class="detail_static_data">
                            	<div>누적 폭주시간</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                                                        
                            </div>
                                                    
                        </div>
                      </div>
                      
                      <div class="static_card_bottom_skill panel-body">
                     	<div class="static_box">
	                        <div class="static_title">명중률</div>
                            <div class="static_data_warp">
                        	<div class="detail_static_data">
                            	<div>평균 명중률</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 명중률</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                             <div class="detail_static_data">
                            	<div>누적 발사</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>누적 명중</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            </div>
                                                    
                        </div>
                      </div>
                      
                      <div class="static_card_bottom_skill panel-body">
                     	<div class="static_box">
	                        <div class="static_title">공격/방어<br>지원</div>
                            <div class="static_data_warp">
                        	<div class="detail_static_data">
                            	<div>평균 공격지원</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 공격지원</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                             <div class="detail_static_data">
                            	<div>누적 공격지원</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>평균 방어지원</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 방어지원</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                             <div class="detail_static_data">
                            	<div>누적 방어지원</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>                            
                            </div>
                                                    
                        </div>
                      </div>
                      
                      
                      <div class="static_card_bottom_skill panel-body">
                     	<div class="static_box">
	                        <div class="static_title">치유</div>
                            <div class="static_data_warp">
                        	<div class="detail_static_data">
                            	<div>평균 치유</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 치유</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                             <div class="detail_static_data">
                            	<div>한목숨 최고 치유</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>누적 치유</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>평균 자가치유</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>최고 자가치유</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                             <div class="detail_static_data">
                            	<div>누적 자가치유</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>             
                            </div>
                                                    
                        </div>
                      </div>
                    
                      <div class="static_card_bottom_skill panel-body">
                     	<div class="static_box">
	                        <div class="static_title">죽음</div>
                            <div class="static_data_warp">
                        	<div class="detail_static_data">
                            	<div>평균 죽음</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            <div class="detail_static_data">
                            	<div>환경요소 죽음</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                             <div class="detail_static_data">
                            	<div>누적 죽음</div>
                                <div class="static_value">20.12</div>
                                <div class="top_rank_s"><img src="/images/global_icon.png">#154,293<span class="top_rank_xs">(Top 50%)</span></div>
                            </div>
                            </div>
                                                    
                        </div>
                      </div>
                      
                     
             
                </div>
                
              
            
                 
            </div>
                
            </div>
            </div>