<div id="middle_contents_detail" class="row">
         	<div class="col-xs-12">
            <div class="container">
         		<div class="profile_card">
                  <div class="profile_card_top">	   
               	  	<div class="profile_card_top_left">
                    
                    <div class="level text-center">
          	        	<%= @level %>
	                </div>
                    <div class="competitive_level">
                    	<img src="/images/compe_rank/rank-10.png"><%= @competitive_rank %>
                    </div>
                	
                    <div class="profile_card_content">
                        <ul class="list-unstyled">
                        	<li class="battle_tag"><%= @over_tag.tag_name %>
	               				<% @over_tag.over_user_types.each do |over_user_tag| %>
	               					<span class="label label-default" data-link="<%= detail_over_tag_path(@over_tag) %>" data-param="<%= over_user_tag.user_type %>" style="cursor:pointer;"><%= over_user_tag.user_type %></span>
	               				<% end %>
	               			</li>
                            <li class="update_button">
                                <div class="update_button_warp">
                                	<button onclick="javascript:update_data();" type="button" class="btn btn-default btn-sm" data-loading-text="<i class='fa fa-spinner fa-spin'></i> 전적 업데이트 중...">전적 업데이트</button>
                                </div>
                                <div class="update_summary_warp"><span> 최근 업데이트 : <%=@update_time%> </span><br><span class="update_summary">정보를 갱신해야 마지막 접속 기록이 반영됩니다</span></div>
                            
                            
                            </li>
                        </ul>
                     
                    </div>
                    </div> <!-- profile_card_top_left end -->
                    
                    <div class="profile_hero_chart">
                    	
		            	<table class="table rank_chart role_rank_chart">
                        <colgroup>
								<col width="30">
								<col width="*">
								<col width="83">
                                <col width="83">
                                <col width="83">
						</colgroup>
                        <tbody>
                        <tr>
                        	<td>&nbsp;</td>
	                        <td class=circle_td><div class="circle" id="circles-1" ></div></td>
                            <td class=circle_td><div class="circle" id="circles-2" ></div></td>
                            <td class=circle_td><div class="circle" id="circles-3" ></div></td>
                            <td class=circle_td><div class="circle" id="circles-4" ></div></td>
                         
                        </tr>
                        <tr>
                        	<td class="circle_col_title">KD</td>
	                        <td><%= @data_hash["offense_KD"] %></td>
                        	<td><%= @data_hash["support_KD"] %></td>
                            <td><%= @data_hash["rush_KD"]%></td>
                            <td class="circle_last_td"><%= @data_hash["defense_KD"]%></td>
                        </tr>
                        <tr >
                        	<td class="circle_col_title">승률</td>
	                        <td  class="win-rate"><span><%= @data_hash["offense_승률"].round(2)%>%</td>
                        	<td class="win-rate"><span ><%= @data_hash["support_승률"].round(2)%>%</td>
                            <td class="win-rate"><span ><%= @data_hash["rush_승률"].round(2)%>%</td>
                            <td class="circle_last_td"><%= @data_hash["defense_승률"].round(2)%>%</td>
                        </tr>                        
                        </tbody>
                        </table>
    			</div>
                </div>
                <div class="summary">
                	<div class="summary_card">
                   			<div class="sumary_contents"><div class="sumary_contents_title">전체순위</div><div class="sumary_contents_contents"><%= @data_hash["플레이 시간_rank"] %>위</div></div>
                            <div class="top_per_rank"><div class="sumary_contents_title">상위</div><div class="sumary_contents_contents"><%= (@data_hash["플레이 시간_rank"].to_f / @total_count.to_f) * 100 %>%</div></div>
                    </div>
                    
                    <div class="summary_card">
                            <div class="sumary_contents"><div class="sumary_contents_title">지역순위<span class="top_rank_xs">(kr)</span></div><div class="sumary_contents_contents"><%= @data_hash["플레이 시간_local_rank"] %>위</div></div>
                            <div class="top_per_rank"><div class="sumary_contents_title">상위</div><div class="sumary_contents_contents"><%= (@data_hash["플레이 시간_local_rank"].to_f / @total_local_count.to_f) * 100 %>%</div></div>              
                    </div>        
                    
                    <div class="summary_card">
          					<div class="sumary_contents">
          						<div class="sumary_contents_title">승률</div>
          						<div class="sumary_contents_contents"><%= @data_hash["승률"].round(2) %>
          							<span class="">(<%= @data_hash["승리한 게임"] %>승 <%= @data_hash["치른 게임"] - @data_hash["승리한 게임"] %>패)</span>
          						</div>
          					</div>
                            <div class="top_per">
                                 <div>
                                 	<div><img src="/images/kor_icon.png"></div>
                                    <div class="sumary_contents_contents top_rank_s">
                                    	#<%= @data_hash["승률_local_rank"] %><span class="top_rank_xs">(Top <%= (@data_hash["승률_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span>
                                     </div>
                                 </div>
                                 <div>
                                 	<div><img src="/images/global_icon.png"></div>
                                    <div class="sumary_contents_contents top_rank_s">#<%= @data_hash["승률_rank"] %><span class="top_rank_xs">(Top <%= (@data_hash["승률_rank"].to_f / @total_count.to_f) * 100 %>%)</span></div></div>
                            </div>
                     </div>
                     
                     <div class="summary_card">
          					<div class="sumary_contents"><div class="sumary_contents_title">K/D</div>
	          					<div class="sumary_contents_contents"><%=@data_hash["KD"].round(2)%>
	          						<span class="">(<%= @data_hash["결정타"] %>/<%= @data_hash["죽음"] %>)</span>
	          					</div>
          					</div>
                            <div class="top_per">
                                 <div><div><img src="/images/kor_icon.png"></div><div class="sumary_contents_contents top_rank_s">##<%= @data_hash["KD_local_rank"] %><span class="top_rank_xs">(Top <%= (@data_hash["KD_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                                 <div><div><img src="/images/global_icon.png"></div><div class="sumary_contents_contents top_rank_s">##<%= @data_hash["KD_rank"] %><span class="top_rank_xs">(Top <%= (@data_hash["KD_rank"].to_f / @total_count.to_f) * 100 %>%)</span></div></div>
                            </div>
                     </div>
                     <div class="summary_card">
          					<div class="sumary_contents">
          						<div class="sumary_contents_title">KDA</div>
	          						<div class="sumary_contents_contents"><%= @data_hash["KDA"].round(2) %>
	          							<span class="">(<%= @data_hash["처치"] %>/<%= @data_hash["죽음"] %>)</span>
	          						</div>
          						</div>
                            <div class="top_per">
                                 <div><div><img src="/images/kor_icon.png"></div><div class="sumary_contents_contents top_rank_s">##<%=@data_hash["KDA_local_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["KDA_local_rank"].to_f / @total_local_count.to_f) * 100 %>%)</span></div></div>
                                 <div><div><img src="/images/global_icon.png"></div><div class="sumary_contents_contents top_rank_s">##<%=@data_hash["KDA_rank"]%><span class="top_rank_xs">(Top <%= (@data_hash["KDA_rank"].to_f / @total_count.to_f) * 100 %>%)</span></div></div>
                            </div>
                     </div>
                     <div class="summary_last">
          					<div class="summary_last_card">
                           <div class="sumary_contents_title">플레이시간</div><div class="sumary_contents_contents"><%= @data_hash["플레이 시간"].to_i/60 %>시간</div>
                            </div>
                            <div class="summary_last_card">
                            <div class="sumary_contents_title">선호영웅</div><div class="sumary_contents_contents"><%= @hero_names[0] %></div>
                            </div>
                     </div>
                     
                </div>
        	
            </div>
            
            <!--서브메뉴시작 -->
            <div class="sub_menu">
            	<div class="sub_left"> 
              		<div style="cursor:pointer;" data-link="/over_tags/<%=@over_tag.id%>/detail" data-param="info_type=1" type="button" class="detail_info <%= 'active' if session[:info_type] == '1' %>">통합 정보</div>
              		<div style="cursor:pointer;" data-link="/over_tags/<%=@over_tag.id%>/detail" data-param="info_type=2" type="button" class="detail_info <%= 'active' if session[:info_type] == '2' %>">영웅 정보</div>
                 </div>
                 
                 <div class="sub_right">
                 	<div class="btn-group" role="group" aria-label="...">
						  <button data-link="/over_tags/<%=@over_tag.id%>/detail" data-param="2" type="button" class="btn btn-default <%= 'active' if session[:play_type] == '2' %>">경쟁전</button>
						  <button data-link="/over_tags/<%=@over_tag.id%>/detail" data-param="1" type="button" class="btn btn-default <%= 'active' if session[:play_type] == '1' %>">빠른대전</button>
					</div>
                 </div>   
            </div>
            
            <!--서브메뉴 끝-->
            
        	</div>
            
                     
            </div>
            <% if session[:info_type] == "1"%>
            	<%= render 'detail_page1' %>
            <% else %>
            	<%= render 'detail_page2' %>
            <% end %>
         </div>

<script>
	function update_data(){
		$(".btn.btn-default.btn-sm").text("업데이트 중...")
		$(".btn.btn-default.btn-sm").attr("disabled","disabled")
		$.ajax({
			url: "/over_tags/<%=@over_tag.id%>/update_data",
			dataType:'json',
			type:'PUT',
			success: function(data){
				location.reload();
			}
		});
	}
</script>