<div id="middle_contents_detail" class="row">
         	<div class="col-xs-12">
            <div class="container">
         		<div class="profile_card">
                  <div class="profile_card_top">	   
               	  	<div class="profile_card_top_left">
                    
                    <div class="level text-center">
          	        	<%=@main_hash["level"]%>
	                </div>
                    <div class="competitive_level">
                    	<img src="/images/compe_rank/rank-10.png"><%=@competitive_rank%>
                    </div>
                	
                    <div class="profile_card_content">
                        <ul class="list-unstyled">
                        	<li class="battle_tag"><%=@over_tag.tag_name%>
	               				<% @over_tag.over_user_types.each do |over_user_tag| %>
	               					<span class="label label-default" data-link="<%= detail_over_tag_path(@over_tag) %>" data-param="<%= over_user_tag.user_type %>" style="cursor:pointer;"><%= over_user_tag.user_type %></span>
	               				<% end %>
	               			</li>
                            <li class="update_button">
                                <div class="update_button_warp">
                                	<button onclick="javascript:update_data();" type="button" class="btn btn-default btn-sm" data-loading-text="<i class='fa fa-spinner fa-spin'></i> 전적 업데이트 중...">전적 업데이트</button>
                                </div>
                                <div class="update_summary_warp"><span> 최근 업데이트 : <%=@update_time%> </span><br><span class="update_summary">정보를 갱신해야 마지막 접속 기록이 반영됩니다</span></div>
                            
                            
                            </li>
                        </ul>
                     
                    </div>
                    </div> <!-- profile_card_top_left end -->
                    
                    <div class="profile_hero_chart">
                    	
		            	<table class="table rank_chart role_rank_chart">
                        <colgroup>
								<col width="30">
								<col width="*">
								<col width="83">
                                <col width="83">
                                <col width="83">
						</colgroup>
                        <tbody>
                        <tr>
                        	<td>&nbsp;</td>
	                        <td class=circle_td><div class="circle" id="circles-1" ></div></td>
                            <td class=circle_td><div class="circle" id="circles-2" ></div></td>
                            <td class=circle_td><div class="circle" id="circles-3" ></div></td>
                            <td class=circle_td><div class="circle" id="circles-4" ></div></td>
                         
                        </tr>
                        <tr>
                        	<td class="circle_col_title">KD</td>
	                        <td><%=@offense_kd%></td>
                        	<td><%=@support_kd%></td>
                            <td><%=@rush_kd%></td>
                            <td class="circle_last_td"><%=@defense_kd%></td>
                        </tr>
                        <tr >
                        	<td class="circle_col_title">승률</td>
	                        <td  class="win-rate"><span><%=@offense_win_per.round(2)%>%</td>
                        	<td class="win-rate"><span ><%=@support_win_per.round(2)%>%</td>
                            <td class="win-rate"><span ><%=@rush_win_per.round(2)%>%</td>
                            <td class="circle_last_td"><%=@defense_win_per.round(2)%>%</td>
                        </tr>                        
                        </tbody>
                        </table>
    			</div>
                </div>
                <div class="summary">
                	<div class="summary_card">
                   			<div class="sumary_contents"><div class="sumary_contents_title">전체순위</div><div class="sumary_contents_contents">23,439위</div></div>
                            <div class="top_per_rank"><div class="sumary_contents_title">상위</div><div class="sumary_contents_contents">10%</div></div>                                       
                    </div>
                    
                    <div class="summary_card">
                            <div class="sumary_contents"><div class="sumary_contents_title">지역순위<span class="top_rank_xs">(kr)</span></div><div class="sumary_contents_contents">23,439위</div></div>
                            <div class="top_per_rank"><div class="sumary_contents_title">상위</div><div class="sumary_contents_contents">10%</div></div>              
                    </div>        
                    
                    <div class="summary_card">
          					<div class="sumary_contents"><div class="sumary_contents_title">승률</div><div class="sumary_contents_contents">30% <span class="">(2174승 3544패)</span></div></div>
                            <div class="top_per">
                                 <div>
                                 	<div><img src="/images/kor_icon.png"></div>
                                    <div class="sumary_contents_contents top_rank_s">
                                    	##1,293<span class="top_rank_xs">(Top 50%)</span>
                                     </div>
                                 </div>
                                 <div>
                                 	<div><img src="/images/global_icon.png"></div>
                                    <div class="sumary_contents_contents top_rank_s">##1,293<span class="top_rank_xs">(Top 50%)</span></div></div>
                            </div>
                     </div>
                     
                     <div class="summary_card">
          					<div class="sumary_contents"><div class="sumary_contents_title">K/D</div><div class="sumary_contents_contents">1.13<span class="">(5214/3245)</span></div></div>
                            <div class="top_per">
                                 <div><div><img src="/images/kor_icon.png"></div><div class="sumary_contents_contents top_rank_s">##1,293<span class="top_rank_xs">(Top 50%)</span></div></div>
                                 <div><div><img src="/images/global_icon.png"></div><div class="sumary_contents_contents top_rank_s">##1,293<span class="top_rank_xs">(Top 50%)</span></div></div>
                            </div>
                     </div>
                     <div class="summary_card">
          					<div class="sumary_contents"><div class="sumary_contents_title">KDA</div><div class="sumary_contents_contents">0.23<span class="">(341/2345)</span></div></div>
                            <div class="top_per">
                                 <div><div><img src="/images/kor_icon.png"></div><div class="sumary_contents_contents top_rank_s">##1,293<span class="top_rank_xs">(Top 50%)</span></div></div>
                                 <div><div><img src="/images/global_icon.png"></div><div class="sumary_contents_contents top_rank_s">##1,293<span class="top_rank_xs">(Top 50%)</span></div></div>
                            </div>
                     </div>
                     <div class="summary_last">
          					<div class="summary_last_card">
                           <div class="sumary_contents_title">플레이시간</div><div class="sumary_contents_contents"><%=@main_hash["플레이 시간"]%></div>
                            </div>
                            <div class="summary_last_card">
                            <div class="sumary_contents_title">선호영웅</div><div class="sumary_contents_contents"><%=@main_hash["main_hero"]%></div>
                            </div>
                     </div>
                     
                </div>
        	
            </div>
            
            <!--서브메뉴시작 -->
            <div class="sub_menu">
            	<div class="sub_left"> 
              		<div style="cursor:pointer;" data-link="/over_tags/<%=@over_tag.id%>/detail" data-param="info_type=1" type="button" class="detail_info <%= 'active' if session[:info_type] == '1' %>">통합 정보</div>
              		<div style="cursor:pointer;" data-link="/over_tags/<%=@over_tag.id%>/detail" data-param="info_type=2" type="button" class="detail_info <%= 'active' if session[:info_type] == '2' %>">영웅 정보</div>
                 </div>
                 
                 <div class="sub_right">
                 	<div class="btn-group" role="group" aria-label="...">
						  <button data-link="/over_tags/<%=@over_tag.id%>/detail" data-param="2" type="button" class="btn btn-default <%= 'active' if session[:play_type] == '2' %>">경쟁전</button>
						  <button data-link="/over_tags/<%=@over_tag.id%>/detail" data-param="1" type="button" class="btn btn-default <%= 'active' if session[:play_type] == '1' %>">빠른대전</button>
					</div>
                 </div>   
            </div>
            
            <!--서브메뉴 끝-->
            
        	</div>
            
                     
            </div>
            <% if session[:info_type] == "1"%>
            	<%= render 'detail_page1' %>
            <% else %>
            	<%= render 'detail_page2' %>
            <% end %>           
         </div>

<script>
	function update_data(){
		$(".btn.btn-default.btn-sm").text("업데이트 중...")
		$(".btn.btn-default.btn-sm").attr("disabled","disabled")
		$.ajax({
			url: "/over_tags/<%=@over_tag.id%>/update_data",
			dataType:'json',
			type:'PUT',
			success: function(data){
				location.reload();
			}
		});
	}

	

</script>

<!-- 
<script>
		//@ http://jsfromhell.com/array/shuffle [v1.0]
	$(document).ready(function(){
	  var colors = [['#959595', '#cc4548'], ['#959595', '#cc9e45'], ['#959595', '#4473ae'], ['#959595', '#96ceb7']],circles = [];
	  
	  // var play_time=['18H','7H','2H','2m'];
	  // var play_time=['18H','7H','2H','2m'];
	  var play_time=['<%=@offense_play_time%>','<%=@support_play_time%>','<%=@rush_play_time%>','<%=@defense_play_time%>'];
	  var background_img =['offence_icon.png','support.png','tank_icon.png','defence_icon.png'];
	  var per = ['<%=@offense_win_per%>','<%=@support_win_per%>','<%=@rush_win_per%>','<%=@defense_win_per%>'];
	  for (var i = 1; i <= 4; i++) {
	  	var child = document.getElementById('circles-' + i), percentage = per[i-1];
	  	
	  	if(i==1){
	  	  circles.push(Circles.create({
	  	  	id:         child.id,
			value:		percentage,
			radius:     35,
			width:      8,
			colors:     colors[i - 1],
			text:play_time[i-1],
			background_img : background_img[i-1]
		  }));
		} else {
		  circles.push(Circles.create({
		  	id:         child.id,
			value:		percentage,
			radius:     28,
			width:      5,
			colors:     colors[i - 1],
			text:play_time[i-1],
			background_img : background_img[i-1]
		}));
	  }
	}
	
	$("span[data-link]").click(function() {
	  var param = "?user_type=" + $(this).data("param")
	  var link = $(this).data("link") + param;
	  window.location = link;
	})
		

	//영웅 그래프
	var hero_colors = [
			['#959595', '#cc9e45'], ['#959595', '#cc2d45'], ['#959595', '#3373ae'], ['#959595', '#67ceb7'], ['#959595', '#cc9e34'],
			['#959595', '#cc9e45'], ['#959595', '#cc2d45'], ['#959595', '#3373ae'], ['#959595', '#67ceb7'], ['#959595', '#cc9e34'],
			['#959595', '#cc9e45'], ['#959595', '#cc2d45'], ['#959595', '#3373ae'], ['#959595', '#67ceb7'], ['#959595', '#cc9e34'],
			['#959595', '#cc9e45'], ['#959595', '#cc2d45'], ['#959595', '#3373ae'], ['#959595', '#67ceb7'], ['#959595', '#cc9e34'],
			['#959595', '#cc9e45']
		]  //플레이한 영웅 퍼센트 순서대로 해당되는 색깔 입력
	var hero_per = [90,80,70,65,34,34,23,43,23,12,34,23,43,23,42,32,24,21,23,23,3]; //플레이한 영웅 퍼센트 순서대로 입력
	var hero_play_time=['18시간','7시간','2시간','2시간','2시간','2시간','2시간','2시간','2시간','2시간','2시간','2시간','2시간','2시간','2시간','2시간','2시간','2시간','2시간','2시간','2시간']; 
	 //플레이한 영웅 시간순서대로 입력
   
    var hero_icon=['ruciu_icon.png','ruciu_icon.png','ruciu_icon.png','ruciu_icon.png','ruciu_icon.png','ruciu_icon.png',
				   'ruciu_icon.png','ruciu_icon.png','ruciu_icon.png','ruciu_icon.png','ruciu_icon.png','ruciu_icon.png',
				   'ruciu_icon.png','ruciu_icon.png','ruciu_icon.png','ruciu_icon.png','ruciu_icon.png','ruciu_icon.png',
				   'ruciu_icon.png','ruciu_icon.png','ruciu_icon.png']; //플레이한 영웅 순서대로 icon 이미지 파일명 입력
    
    var textclass = 'hero_circle';
	for (var i = 1; i <= 21; i++) {
		var id_num = i+4;
		var child = document.getElementById('circles-' + id_num), percentage = hero_per[i-1];
		
		circles.push(Circles.create({
			id:         child.id,
			value:		percentage,
			radius:     35,
			width:      8,
			colors:     hero_colors[i - 1],
			text: 	    hero_play_time[i-1],
			textClass : textclass
		}));
			
		var hero_icon_url = 'url(/images/'+hero_icon[id_num]+')';	
		document.getElementById('circles-'+id_num).style.backgroundImage= hero_icon_url;
	}
		

		

});
</script> -->