	<div id="middle_contents_main" class="row">
         	<div class="container">
         		<div class="main_content">
                	<div class="main_img">
                    <img src="/images/main_img/overrank_main_tracer.png">
                    </div>
                	<div class="">
                		<form action="/over_tags/new" accept-charset="UTF-8" method="get" class="main-form" role="search">
					  	<div class="main-form-group">
					   	 <input name="tag" id="tag" type="text" class="form-control" placeholder="배틀태그#1234 또는 플레이어 이름으로 전적 검색" value="<%= session[:btag] %>">
					   	 	<%= session[:btag] = nil %>
                         <input type="submit" name="commit" value="" class="btn btn-main-tag">
						 </div>
                     	<div class="battle_tag_find" data-link="/auth/bnet" style="cursor:pointer;">
                     		<img src="/images/battlenet_logo.png">
                     	</div>
						</form>
                     </div>
                 </div>
                 </div>    
    		</div>
    		
    		<div id="middle_contents_main_chart" class="row">
          <div class="container">
           	<h2 class="flex-box">영웅별 승률순위</h2>
          	<div class="main_chart_warp">

                	<div class="main_chart">
                    	<div class="main_chart_title offence">
                    		<span><img src="/images/offence_icon.png">공격</span>
                    		<img onclick="javascript:go_role_rank();" src="/images/more.png"></div>
                        <div class="main_chart_content">
                        	<table>
                        		<% no = 0 %>
                        		<% @hero_offense.each do |key, value| %>
                        		<% no += 1 %>
                            	<tr>
                                	<td><%= no %></td><td><img src="/images/hero_square/<%=HERO_SQUARE_IMG[key]%>"><%= key %></td>
                                    <td><div class="progress">
                                    	<% per = ((value / @offense_hero_sum) * 100).round(2) %>
										<div class="progress-bar progress-bar-win" role="progressbar" style="width:<%= per %>%"><%= per %>%</div></div>
                                    </td>
                                </tr>
                                <% end %>
                            </table>
                            
                        </div>    
                        
                    </div>
                    
                    <div class="main_chart">
                    	<div class="main_chart_title defence"><span><img src="/images/defence_icon.png">수비</span><img onclick="javascript:go_role_rank();" src="/images/more.png"></div>
                        <div class="main_chart_content">
                        	<table>
                        		<% no = 0 %>
                        		<% @hero_defense.each do |key, value| %>
                        		<% no += 1 %>
                            	<tr>
                                	<td><%= no %></td><td><img src="/images/hero_square/<%=HERO_SQUARE_IMG[key]%>"><%= key %></td>
                                    <td><div class="progress">
                                    	<% per = ((value / @defense_hero_sum) * 100).round(2) %>
										<div class="progress-bar progress-bar-win" role="progressbar" style="width:<%= per %>%"><%= per %>%</div></div>
                                    </td>
                                </tr>
                                <% end %>
                            </table>
                        </div>    
                        
                    </div>
                    
                    <div class="main_chart">
                    	<div class="main_chart_title tank"><span><img src="/images/tank_icon.png">돌격</span><img onclick="javascript:go_role_rank();" src="/images/more.png"></div>
                        <div class="main_chart_content">
                        	<table>
                            	<% no = 0 %>
                        		<% @hero_rush.each do |key, value| %>
                        		<% no += 1 %>
                            	<tr>
                                	<td><%= no %></td><td><img src="/images/hero_square/<%=HERO_SQUARE_IMG[key]%>"><%= key %></td>
                                    <td><div class="progress">
                                    	<% per = ((value / @rush_hero_sum) * 100).round(2) %>
										<div class="progress-bar progress-bar-win" role="progressbar" style="width:<%= per %>%"><%= per %>%</div></div>
                                    </td>
                                </tr>
                                <% end %>
                            </table>
                        </div>    
                        
                    </div>
                    
                    <div class="main_chart">
                    	<div class="main_chart_title support"><span><img src="/images/support.png">지원</span><img onclick="javascript:go_role_rank();" src="/images/more.png"></div>
                        <div class="main_chart_content">
                        	<table>
                            	<% no = 0 %>
                        		<% @hero_support.each do |key, value| %>
                        		<% no += 1 %>
                            	<tr>
                                	<td><%= no %></td><td><img src="/images/hero_square/<%=HERO_SQUARE_IMG[key]%>"><%= key %></td>
                                    <td><div class="progress">
                                    	<% per = ((value / @support_hero_sum) * 100).round(2) %>
										<div class="progress-bar progress-bar-win" role="progressbar" style="width:<%= per %>%"><%= per %>%</div></div>
                                    </td>
                                </tr>
                                <% end %>
                            </table>
                        </div>    
                        
                    </div>
           
                	    	       
                </div>
                </div>
           </div>
          
          
        
	</div>
    		


  	<!-- <div id="middle_contents_main" class="row">
  		<div class="container">
  			<div class="main_content">
  				<img src="/images/main_img/overrank_main_tracer.png">
            </div>
            
            <div class="col-xs-12 main_content">
            	<form action="/over_tags/new" accept-charset="UTF-8" method="get" class="navbar-form" role="search">
            		<div class="form-group">
            			<input name="tag" id="tag" type="text" class="form-control" placeholder="배틀태그#1234" value="<%= session[:btag] %>">
            			<%= session[:btag] = nil %>
					</div>
					<input type="submit" name="commit" value="확인" class="btn btn-default">
					<div class="battle_tag_find" data-link="/auth/bnet" style="cursor:pointer;">
						<img src="/images/battlenet_logo.png">
                    </div>
				</form>
			</div>
            <div class="col-sm-12">
            	<div class="main_chart_title">
            		<h3>역할별 승률 순위</h3>
            	</div>
            	<ul class="col-sm-12 list_chart">
            		<li class="col-sm-6">
            			<div class="col-xs-12 rank_chart_title">
            				<img src="/images/SupportIcon.png" class="title_left"><h4 class="title_left">지원 영웅</h4>
                            <div class="more">더보기</div>
                        </div>
		            	<table class="table rank_chart">
	                        <colgroup>
	                        	<col width="4%">
								<col width="160">
								<col width="*">
							</colgroup>
                        	<thead>
		                        <tr>
		                        	<th>#</th>
		                            <th>영웅</th>
		                            <th>승률</th>
		                        </tr>
	                        </thead>
                        	<tbody>
                        		<tr>
	                        		<td>1</td>
			                        <td>
				                           <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000042.png" class="chart_hero_sm"> 맥크리
		                        	</td>
                        			<td>
		                        		<div class="progress">
		    	    	        		  <div class="progress-bar progress-bar-striped color-01" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">60%</div>
			        	  		       	</div>
	        	  		    		</td>
                        		</tr>
                        		<tr>
                        			<td>2</td>
	                        		<td>
	                        			<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E000000000006E.png" class="chart_hero_sm"> 솔져: 76
                        			</td>
                        			<td>
                        				<div class="progress">
                        					<div class="progress-bar progress-bar-striped color-02" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100" style="width:49%">49%</div>
	        	  		       			</div>
 									</td>
                         
                        		</tr>
                        		<tr>
                        			<td>3</td>
	                        		<td>
		                           		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000079.png" class="chart_hero_sm"> 루시우
                        			</td>
                        			<td>
                        				<div class="progress">
                        					<div class="progress-bar progress-bar-striped color-03" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:45%">45%</div>
	        	  		       			</div>
 									</td>
                         
                        		</tr>
                        		<tr>
                        			<td>4</td>
	                        		<td>
		                           		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000079.png" class="chart_hero_sm"> 루시우
                        			</td>
	                        		<td>
	                        			<div class="progress">
	    	    	        		  		<div class="progress-bar progress-bar-striped color-04" role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width:42%">42%</div>
		        	  		       		</div>
	 								</td>
 								</tr>
                        		<tr>
                        			<td>5</td>
	                        		<td>
		                           		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000079.png" class="chart_hero_sm"> 루시우
                        			</td>
                        			<td>
                        				<div class="progress">
    	    	        		  			<div class="progress-bar progress-bar-striped color-05" role="progressbar" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100" style="width:39%">39%</div>
	        	  		       			</div>
 									</td>
 								</tr>
                        	</tbody>
                        </table>
                    </li> 
                    <li class="col-sm-6">
                    	<div class="col-xs-12 rank_chart_title">
                    		<img src="/images/OffenseIcon.png" class="title_left"><h4 class="title_left">공격 영웅</h4>
                            <div class="more">더보기</div>
                        </div>
		            	<table class="table rank_chart">
		            		<colgroup>
		            			<col width="4%">
								<col width="160">
								<col width="*">
							</colgroup>
                        	<thead>
		                        <tr>
		                        	<th>#</th>
		                            <th>영웅</th>
		                            <th>승률</th>
		                        </tr>
                        	</thead>
                        	<tbody>
                        		<tr>
                        			<td>1</td>
	                        		<td>
		                           		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000042.png" class="chart_hero_sm"> 맥크리
                        			</td>
                        			<td>
                        				<div class="progress">
    	    	        		  			<div class="progress-bar progress-bar-striped color-01" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">60%</div>
	        	  		       			</div>
	        	  		       		</td>
                         
                        		</tr>
                        		<tr>
                        			<td>2</td>
	                        		<td>
		                           		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E000000000006E.png" class="chart_hero_sm"> 솔져: 76
                        			</td>
                        			<td>
                        				<div class="progress">
    	    	        		  			<div class="progress-bar progress-bar-striped color-02" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100" style="width:49%">49%</div>
	        	  		       			</div>
 									</td>
                         
                        		</tr>
                        		<tr>
                        			<td>3</td>
	                        		<td>
		                           		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000079.png" class="chart_hero_sm"> 루시우
                        			</td>
                        			<td>
                        				<div class="progress">
    	    	        		  			<div class="progress-bar progress-bar-striped color-03" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:45%">45%</div>
	        	  		       			</div>
 									</td>
                         		</tr>
                        		<tr>
                        			<td>4</td>
	                        		<td>
		                           		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000079.png" class="chart_hero_sm"> 루시우
                        			</td>
                        			<td>
                        				<div class="progress">
    	    	        		  			<div class="progress-bar progress-bar-striped color-04" role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width:42%">42%</div>
	        	  		       			</div>
 									</td>
                         		</tr>
                        		<tr>
                        			<td>5</td>
	                        		<td>
		                           		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000079.png" class="chart_hero_sm"> 루시우
                        			</td>
                        			<td>
                        				<div class="progress">
    	    	        		  			<div class="progress-bar progress-bar-striped color-05" role="progressbar" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100" style="width:39%">39%</div>
	        	  		       			</div>
 									</td>
                         
                        		</tr>
                        	</tbody>
                        </table>
                    </li>
                </ul>
                <ul class="col-sm-12 list_chart">
                	<li class="col-sm-6">
                		<div class="col-xs-12 rank_chart_title">
                			<img src="/images/DefenseIcon.png" class="title_left"><h4 class="title_left">방어 영웅</h4>
                            <div class="more">더보기</div>
                        </div>
		            	<table class="table rank_chart">
		            		<colgroup>
		            			<col width="4%">
								<col width="160">
								<col width="*">
							</colgroup>
                        	<thead>
	                        	<tr>
		                        	<th>#</th>
		                            <th>영웅</th>
		                            <th>승률</th>
	                        	</tr>
                        	</thead>
	                        <tbody>
	                        	<tr>
	                        		<td>1</td>
		                        	<td>
		                        		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000042.png" class="chart_hero_sm"> 맥크리
	                        		</td>
	                        		<td>
	                        			<div class="progress">
	                        				<div class="progress-bar progress-bar-striped color-01" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">60%</div>
		        	  		       		</div>
	 								</td>
	 							</tr>
	                        	<tr>
	                        		<td>2</td>
		                        	<td>
		                        		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E000000000006E.png" class="chart_hero_sm"> 솔져: 76
	                        		</td>
	                        		<td>
	                        			<div class="progress">
	    	    	        		  		<div class="progress-bar progress-bar-striped color-02" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100" style="width:49%">49%</div>
		        	  		       		</div>
		        	  		       	</td>
	                         	</tr>
	                        	<tr>
	                        		<td>3</td>
		                        	<td>
		                        		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000079.png" class="chart_hero_sm"> 루시우
	                        		</td>
	                        		<td>
	                        			<div class="progress">
	                        				<div class="progress-bar progress-bar-striped color-03" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:45%">45%</div>
		        	  		       		</div>
	 								</td>
	                        	</tr>
	                        	<tr>
	                        		<td>4</td>
		                        	<td>
		                        		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000079.png" class="chart_hero_sm"> 루시우
	                        		</td>
	                        		<td>
	                        			<div class="progress">
	    	    	        		  		<div class="progress-bar progress-bar-striped color-04" role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width:42%">42%</div>
		        	  		       		</div>
	 								</td>
	                        	</tr>
	                        	<tr>
	                        		<td>5</td>
		                        	<td>
		                        		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000079.png" class="chart_hero_sm"> 루시우
	                        		</td>
	                        		<td>
	                        			<div class="progress">
	    	    	        		  		<div class="progress-bar progress-bar-striped color-05" role="progressbar" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100" style="width:39%">39%</div>
		        	  		       		</div>
	 								</td>
	                        	</tr>
	                        </tbody>
                    	</table>
                   	</li>
                   	<li class="col-sm-6">
                   		<div class="col-xs-12 rank_chart_title">
                   			<img src="/images/TankIcon.png" class="title_left"><h4 class="title_left">돌격 영웅</h4>
                            <div class="more">더보기</div>
                        </div>
		            	<table class="table rank_chart">
		            		<colgroup>
		            			<col width="4%">
								<col width="160">
								<col width="*">
							</colgroup>
                        	<thead>
	                        	<tr>
	                        		<th>#</th>
	                            	<th>영웅</th>
	                            	<th>승률</th>
	                        	</tr>
                        	</thead>
                        	<tbody>
                        		<tr>
                        			<td>1</td>
	                        		<td>
	                        			<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000042.png" class="chart_hero_sm"> 맥크리
                        			</td>
                        			<td>
                        				<div class="progress">
    	    	        		  			<div class="progress-bar progress-bar-striped color-01" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">60%</div>
	        	  		       			</div>
 									</td>
 								</tr>
                        		<tr>
                        			<td>2</td>
	                        		<td>
		                           		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E000000000006E.png" class="chart_hero_sm"> 솔져: 76
                        			</td>
                        			<td>
                        				<div class="progress">
    	    	        		  			<div class="progress-bar progress-bar-striped color-02" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100" style="width:49%">49%</div>
	        	  		       			</div>
 									</td>
                         		</tr>
                         		<tr>
                        			<td>3</td>
	                        		<td>
		                           		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000079.png" class="chart_hero_sm"> 루시우
                        			</td>
                        			<td>
                        				<div class="progress">
    	    	        		  			<div class="progress-bar progress-bar-striped color-03" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:45%">45%</div>
	        	  		       			</div>
 									</td>
                        		</tr>
                        		<tr>
                        			<td>4</td>
	                        		<td>
	                        			<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000079.png" class="chart_hero_sm"> 루시우
                        			</td>
                        			<td>
                        				<div class="progress">
    	    	        		  			<div class="progress-bar progress-bar-striped color-04" role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width:42%">42%</div>
	        	  		       			</div>
 									</td>
                         		</tr>
                        		<tr>
                        			<td>5</td>
	                        		<td>
		                           		<img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/small/0x02E0000000000079.png" class="chart_hero_sm"> 루시우
                        			</td>
                        			<td>
                        				<div class="progress">
    	    	        		  			<div class="progress-bar progress-bar-striped color-05" role="progressbar" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100" style="width:39%">39%</div>
	        	  		       			</div>
 									</td>
 								</tr>
                        	</tbody>
                        </table>
                    </li>
                </ul>
            </div>
    	</div>
    </div> -->
	
	
<script>
	
	$(".battle_tag_find").click(function() {
	  window.location = $(this).data("link")
	})
	
	function go_role_rank(){
		window.location = "/over_tags/over_role_rank"
	}
	
</script>
	
	<!-- 
<%= form_tag({:action=>"new"}, {:method=>"get"}) do %>
	<div style="padding: 30px 0; text-align: center;">
		<%= text_field_tag "tag", session[:btag], :placeholder=>"배틀테그 입력", :style=>"padding:10px; font-size:14px;" %>
		<%= submit_tag "확인", :class=>"submit_button"  %>
		<div style="font-size: 14px; margin-top:10px;">
			<%= link_to "내 배틀태그 가져오기", "/auth/bnet" %>
		</div>
		
	</div>
<% end %>

<style>
	.submit_button {
	    padding: 10px 20px;
	    font-size: 14px;
	    /*background-color: #000;
	    color: #fff;*/
	    border-style: none;
	}

</style> -->