
<div style="padding: 10px;">

<table>
	<tr>
		<td width="50px">지역</td>
		<td width="130px" colspan="2">주영웅</td>
		
		<td width="130px"  colspan="2">플레이어</td>
		<td width="100px">점수</td>
		<td width="100px">킬/데스</td>
		<td width="100px">승률</td>
		<td width="100px">플레이시간 </td>
	</tr>
	<tr onclick="javascript: get_detail_data()">
		<td>PC/KR</td>
		<td><image src="<%=@main_hero.image%>" style="width:50px; height:50px;"></td>
		<td><%=@main_hero.name%></td>
		<td><image src="<%= @tag_data.over_profile.avatar %>" style="width:50px; height:50px;"></td>
		<td><%= @tag_data.tag.split("#")[0] %></td>
		<td>
			<%= @tag_data.over_all_hero.Score %>
		</td>
		<td><%= (@tag_data.over_all_hero.Eliminations.to_f / @tag_data.over_all_hero.Deaths.to_f) %></td>
		<td><%= @tag_data.over_profile.win_percentage %>%</td>
		<td><%= @tag_data.over_profile.playtime %></td>
	</tr>
</table>
<% if @status==404 %>
<div>
	서버 터졌음.
</div>
<% end %>
</div>

<script>
	function get_detail_data(){
		alert("데이터 가져오기");
	}
</script>
