<div id="middle_contents_detail" class="row">
	<div class="col-xs-12">
		<div class="container">
			<div class="hero_rank_warp">
				<div class="hero_nav">
					<h2>영웅 선택</h2>
					<div class="hero_nav_heros">
						<% HERO_SQUARE_IMG.each do |key, value| %>
							<div class="container_hero_square" style="cursor:pointer;" data-param="<%= HERO_NAME_TO_ENG[key] %>">
								<img src="/images/hero_square/<%=value%>">
                        	</div>
                    	<% end %>
                    </div>
                </div>
                <div class="hero_summary_warp" style='background-image:url(<%= "/images/hero_profile/#{HERO_NAME_TO_ENG[@ary_data[0]["hero_name"]]}.jpg" %>);'>
                	<div class="top_title"><div>WIDOWMAKER</div><h2>위도우 메이커</h2></div>
                	<div class="hero_stat">
                		<div><img src="/images/defence_icon.png">수비영웅</div><div><img src="/images/hp_icon.png">hp200</div><div><img src="/images/playtime_icon.png">플레이시간 2위</div>
                	</div>
                	<div class="hero_chart_warp flex-box">
                		<div>
                			<div class="hero_chart_title"><div>승률</div><div class="type_select"><div class="active">경쟁전</div><div>빠른대전</div></div></div>
                			<div class="hero_chart"><div id="hero_chart_1" class="hero_chart_grh" style=""></div></div>
                        </div>
                        <div>
                        	<div class="hero_chart_title"><div>플레이 시간</div><div class="type_select"><div>경쟁전</div><div class="active">빠른대전</div></div></div>
                            <div class="hero_chart"><div id="hero_chart_2" class="hero_chart_grh" style=""></div></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--서브메뉴시작 -->
            <div class="sub_menu">
            	<div class="sub_left">
              		<div style="cursor:pointer;" data-link="/over_tags/new" data-param="2" class="btn btn-default <%= 'active' if session[:play_type] == '2' %>" >경쟁전</div>
              		<div style="cursor:pointer;" data-link="/over_tags/new" data-param="1" class="btn btn-default <%= 'active' if session[:play_type] == '1' %>" >빠른대전</div>
                 </div>
                 
                 <div class="sub_right">
                 	<div> 지역</div>
                 	<div class="btn-group" role="group" aria-label="...">
						  <button type="button" class="btn btn-default active"><img src="/images/kor_icon.png">Korea</button>
						  <button type="button" class="btn btn-default"><img src="/images/global_icon.png">Global</button>
						
					</div>
                 </div>   
            </div>
            
            <!--서브메뉴 끝-->
                 
                 
            </div>        
         
         </div>
         <div class="col-xs-12 hero_rank">
         	<div class="container">
                                 
                    <div class="hero_rank_table">
                    	<table class="table rank_chart">
                        <thead>
                        <tr>
                        	<th class="rank_table_rank">#</th>
                            <th class="rank_table_hero">영웅</th>
                            <th class="rank_table_region">지역</th>
                            <th class="rank_table_player">플레이어</th>
                            <th class="rank_table_score">경쟁전</th>
                            <th class="rank_table_kda">KDA</th>
                            <th class="rank_table_kill">평균처치</th>
                            <th class="rank_table_heal">평균치유</th>
                            <th class="rank_table_winrate">승률</th>
                            <th class="rank_table_time">플레이 타임</th>
                        </tr>
                        </thead>
                        <tbody>
                        	<% @ary_data.each_with_index do |data, i| %>
                        	<tr data-link="<%= detail_over_tag_path(@over_tags[i]) %>" data-param="<%= @over_tags[i].over_user_types[0].user_type %>" style="cursor:pointer;">
                            	<td class="rank_table_rank"></td>
                                <td class="rank_table_hero"><img src="/images/hero_square/<%=HERO_SQUARE_IMG[data["hero_name"]]%>"></td>
                                <td class="rank_table_region">
                                	<% @over_tags[i].over_user_types.each do |user_type| %>
										<%= user_type.user_type %>
									<% end %>
                                </td>
                                <td class="text-left rank_table_player ">
                                	<img src="/images/hero_square/<%=HERO_SQUARE_IMG[data["hero_name"]]%>"><%=data["hero_name"]%><br>
                                	<span>lv.<%=data["main_hero_level"]%></span>
                                </td>
                                <td class="rank_table_score"><%=data["competitive_rank"]%></td>
                                <td class="rank_table_kda"><%= (data["처치"].delete(",").to_f / data["죽음"].delete(",").to_f).round(2) %>
                                	 <span class="top_rank_xs">(<%= "#{data["처치"]}/#{data["죽음"]}"%>)</span>
                               	</td>
                                <td class="rank_table_kill"><%= data["처치 - 평균"] %></td>
                                <td class="rank_table_heal"><%= data["치유 - 평균"] %></td>
                                <td class="rank_table_winrate"><div class="progress win-rate">
                                	<% games_played = data["치른 게임"].delete(",").to_i %>
                                	<% games_won = data["승리한 게임"].delete(",").to_i %>
                                	<% games_lost = games_played - games_won %>
                                	<% games_won_per = ((games_won.to_f / games_played.to_f) * 100).round(2) %>
										<div class="progress-bar progress-bar-win" role="progressbar" style="width:<%=games_won_per%>%">W<%=games_won%></div>
										<div class="progress-bar progress-bar-lose" role="progressbar" style="width:<%=100 - games_won_per%>%">L<%=games_lost%></div>
                                    </div> <span class="top_data">
                                    	<%= games_won_per %>%
                                    </span></td>
                                
                                <td class="rank_table_time"><%= data["플레이 시간"] %></td>
                                
                            </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
            </div>
         </div>.
         
         
        </div> 
    </div>




<!-- <div style="padding: 10px;">


<table>
	<% @ary_data.each_with_index do |data, i| %>
	<tr>
		<td width="50px">지역</td>
		<td width="130px" colspan="2">주영웅</td>
		<td width="130px" colspan="2">플레이어</td>
		<td width="100px">점수</td>
		<td width="100px">킬/데스</td>
		<td width="100px">승률</td>
		<td width="100px">플레이시간 </td>
	</tr>
	
	<tr data-link="<%= detail_over_tag_path(@over_tags[i]) %>" data-param="<%= @over_tags[i].over_user_types[0].user_type %>" style="cursor:pointer;">
		<td>
			<% @over_tags[i].over_user_types.each do |user_type| %>
				<%= user_type.user_type %>
			<% end %>
		</td>
		
		<td><image src='<%= data["hero_avatar"] %>' style="width:50px; height:50px;"></td>
		<td><%= data["hero_name"] %></td>
		
		<td><image src='<%= data["avatar"] %>' style="width:50px; height:50px;"></td>
		<td><%= data["user_name"] %></td>
		
		<td><%= data["점수"] %></td>
		<td>
			<%= (data["처치"].delete(",").to_f / data["죽음"].delete(",").to_f).round(2) %></td>
		<td><%= (data["승리한 게임"].delete(",").to_f / data["치른 게임"].delete(",").to_f).round(2) * 100 %>%</td>
		<td><%= data["플레이 시간"] %></td>
	</tr>
	<% end %>
</table>

<% if @status==404 %>
<div>
	서버 터졌음.
</div>
<% end %>
</div> -->

<script>
	$("tr[data-link]").click(function() {
	  var param = "?user_type=" + $(this).data("param")
	  var link = $(this).data("link") + param;
	  window.location = link;
	})
	
	$(".container_hero_square").click(function() {
	  var hero_name = $(this).data("param")
	  $(".hero_summary_warp").css("background-image", 'url(/images/hero_profile/' + hero_name + '.jpg)');
	  
	})
	
</script>